@font-face {
  font-family: Segment7;
  src: url(./font/Segment7Standard.otf);
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e4dccf;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.calculator {
  width: 400px;
  height: 625px;
  display: grid;
  grid-template-rows: 1fr 2fr;
  padding: 0.5rem;
  user-select: none;
}

.display-container {
  background-color: #373c40;
  position: relative;
  border-radius: 20px;
}

.solar-cell {
  width: 120px;
  height: 35px;
  position: absolute;
  right: 10%;
  top: 5%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3px;
  background-color: #714842;
  border: 2px solid #000;
  border-radius: 5px;
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.2) inset;
  overflow: hidden;
}

.solar-cell .cell {
  background-color: #653833;
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.2) inset;
}

.display {
  background-color: #a6b8a2;
  width: 90%;
  height: 63%;
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  border-radius: 20px;
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.2) inset;
}

.display #result {
  width: 100%;
  position: absolute;
  top: 60%;
  left: 0;
  transform: translateY(-50%);
  font-family: Segment7, sans-serif;
  font-size: 4rem;
  letter-spacing: 0.3rem;
  text-align: center;
}

.keyboard {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding-top: 1rem;
  grid-gap: 10px;
}

.keyboard .digits {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  column-gap: 10px;
}

.keyboard .operations {
  display: grid;
  grid-template-rows: 3.12fr 2fr;
  gap: 20px;
}

.keyboard .operations div {
  display: grid;
  gap: 20px;
}

button {
  background-color: #45494c;
  border: none;
  border-radius: 10px;
  box-shadow: 0 10px 0 #343739;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: #e4dccf;
  cursor: pointer;
}

button.red {
  background-color: #c72d2d;
  box-shadow: 0 10px 0 #aa2626;
}

button:focus {
  outline: none;
}

button:active {
  transform: translateY(5px);
  box-shadow: 0 5px 0 #252728;
}

button.red:active {
  box-shadow: 0 5px 0 #8f1f1f;
}
